/*  your css code here. If applicable */
*{
	background-color: rgb(204, 204, 204)

}

h1,h2,h3{
	text-align:center;
}
.player_one{
	background-color: rgb(255, 255, 255);
	padding: border-radius;
	border:12px solid white;
}
#playlistt,li{
	background-color:white;
		list-style-type:none;


}