#playlistt{
	border:2px solid black;
	background-color:white;
	border-radius:10px;

}
li{
list-style-type: none

}
a{
	text-decoration-line:none;
}
body{
	background-color: rgb(204, 204, 204)

}
.heading{
	text-align: center

}
.player{
	
	margin:10px; 
	border-radius:10px;
	border:2px solid black;
	padding:10px;
	background-color:rgb(255, 255, 255); 
}
.player_one,.player_two{
	width:500px;
	padding-inline:50px;
	background-color:rgb(255, 255, 255); 
}